html, body {
  height: 100vh;
  background: #0ebeb0;
  /* background-image: linear-gradient(270deg, #dc8bdf, #6858be, #006891); */
  /* background: #101010; */
  overflow: hidden;
}

body {
  background-color: transparent;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#app {
  background: #7928aa;
  background-image: linear-gradient(-270deg, #6858be, #7928aa, #7928aa);
  color: #fff;
  width: 100%;
  box-shadow: 0 2px 25px -1px #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.caixa {
  overflow: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.titulo {
  color: #27e7d7;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Playpen Sans", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subTitulo {
  font-weight: bold;
  color: #27e7d7;
  font-family: "Playpen Sans", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.oQueEToxoplasmose {
  width: 70%;
  color: #5c2584;
  background: #cbb1ff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 11px 10px 15px 0px #000;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
  width: 10px;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
  border-radius: 50px;
}


/* ::-webkit-scrollbar {
  background: transparent !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: #3e3f38de !important;
} */

.patas-de-gato-img {
  position: absolute;
  top: -41px;
  left: -70px;
  width: 400px;
  height: auto;
  transform: scaleX(-1);
}

.patas-de-gato-img-footer {
  position: absolute;
  /* bottom: -30px;
  right: -40px; */
  bottom: 0px;
  right: 0px;
  width: 400px;
  height: auto;
  transform: scaleX(-1);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto-azul {
  color: #27e7d7;
  font-family: "Playpen Sans", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blocoGato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gato1 {
  width: 150px;
  height: 91px;
  rotate: -90deg;
  margin-right: -43px;
  z-index: 2;
}

.gato2 {
  width: 150px;
  height: 91px;
  rotate: 90deg;
  margin-left: -43px;
  z-index: 2;
}

@media (max-width: 991px) {
  .z-lg-1 {
    z-index: 1 !important;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  #app {
    border-radius: 0px;
  }
  
  .gato1 {
    position: absolute;
    top: 50px;
    left: -60px;
  }
  
  .gato2 {
    position: absolute;
    top: 50px;
    right: -50px;
  }

  .gatoNaEsquerda {
    margin-left: 45px;
  }

  .gatoNaDireita {
    margin-right: 55px;
  }

  .oQueEToxoplasmose {
    width: 100%;
    color: #5c2584;
    background: #cbb1ff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 11px 10px 15px 0px #000;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
  }
}